{% load i18n %}{% load translations %}

<p>
{% blocktrans %}There has been a new comment on {{ change.change.component }} at {{ site_title }}.{% endblocktrans %}
</p>

<table>
<tr>
<th>
{% trans "Source string:" %}
</th>

<td>
{% format_translation change.change.unit.source change.change.unit.translation.component.project.source_language %}
</td>
</tr>


<tr>
<th>
{% trans "Comment:" %}
</th>

<td>
{{ change.target }}
</td>
</tr>
</table>

<p>
{% trans "You can edit this string at:" %}
</p>

<p><a href="{{ current_site_url }}{{ unit.get_absolute_url }}#comments">{{ current_site_url }}{{ unit.get_absolute_url }}#comments</a></p>
