{% load i18n %}{% load translations %}

<p>
{% trans "Hi,"%}
</p>

<p>
{% blocktrans %}There is a new suggestion to evaluate on {{ change.change.translation }} at {{ site_title }}.{% endblocktrans %}
<p>

<table>
<tr>

<th>
{% trans "Source string:" %}
</th>

<td>
{% format_translation change.change.unit.source change.change.unit.translation.component.project.source_language %}
</td>
</tr>

<tr>
<th>
{% trans "Suggestion:" %}
</th>

<td>
{% format_translation change.change.target change.change.unit.translation.language change.change.unit.translation.plural %}
</td>
</tr>

{% if change.change.unit.translated %}
<tr>
<th>
{% trans "Translation change:" %}
</th>

<td>
{% format_translation change.target change.change.unit.translation.language change.change.unit.translation.plural change.change.unit.target %}
</td>
</tr>
{% endif %}
</table>

<p>
{% trans "You can review it at:" %}
</p>

<p>
<a href="{{ current_site_url }}{{ unit.get_absolute_url }}">{{ current_site_url }}{{ unit.get_absolute_url }}</a>
</p>
